
CoffeeMachine/__pycache__/

.DS_Store

.idea/

venv/bin/


venv/lib/python3.8/site-packages/_distutils_hack/

venv/lib/python3.8/site-packages/

venv/

CoffeeMachineOOP/__pycache__/

tutorial-env/bin/

tutorial-env/lib/python3.9/site-packages/

SnakeGame/__pycache__/

PingPong/__pycache__/

Turtle-crossing/__pycache__/

tutorial-env/

TurtleGraphics/__pycache__/
